- form.inputs do
  = form.input :item_id, :label => 'Item', :as => 'hidden'
  = form.input :fabric_id, :label => 'Fabric', :as => 'hidden'
  = form.input :amount, :label => 'Amount'
  = form.input :unit, :label => 'Unit'
