- form.inputs do
  = form.input :group, :label => 'Group', :as => :radio
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'

  = form.input :inventory_item_types, :label => "Inventory Items Used", :as => :check_boxes
