%h1.heading
  = 'New Fabric'
  
- semantic_form_for(resource, :html=>{:multipart=>true}) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', collection_path
