- form.inputs do
  = form.input :name, :label => 'Name'
  =# form.input :component_groups, :label => "Styles that belong to this item type", :as => :check_boxes
  =# form.input :measurement_infos, :label => "Measurements that belong to this item type", :as => :check_boxes

