- form.inputs do
  = form.input :item_type, :label => 'Item type'
  = form.input :name, :label => 'Name'
  = form.input :amount, :label => 'Cost'
  = form.input :is_required, :label => 'Required?', :as => 'radio'
